.main-container {
    margin:0;
    padding:0;
}

.m-none {
    display: none;
}

.desk-none {
    display: inherit;
}

.central-dash {
    padding:15px;
}

.nav-bar .nav-mid-child {
    width: 100%;
}

.central-dash-items h5 {
   text-align: center;
}

.nav-mid,
.nav-bottom {
    display: none;
}

.central-dash {
    margin-top: 5.5rem;
    height: auto;
    overflow-y: hidden;
}

.right-dash {
    height: auto;
    overflow-y: hidden;
}

.nav-bar {
    height: auto;
}

/* Side Nav */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    font-size: 36px;
    padding: 1rem 0 1rem 1rem;
    margin-left: 1rem;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .nav-top {
      display: flex;
      margin: 0;
  }

  .nav-top img {
    width:60%; 
    margin:1rem;
  }

  .nav-top a {
    color: #5d5dea;
    text-decoration: none;
}

.nav-top {
    position: absolute;
    top:0;
    padding: 0rem 0.5rem 0 0.5rem;
}

.nav-top .main-logo-d {
    display: none;
}

.nav-top .logo-name-t {
    display: none;
}

.nav-top .main-logo-m img {
    height: 3.5rem;
}

.nav-top .open-nav-btn {
    margin: auto;
}

.nav-top .open-nav-btn i {
    font-size: x-large;
}

.nav-bar .nav-mid .nav-mid-child h5 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 12px;
    font-weight: bold;
    color:#156de1;
}

.nav-bar .nav-mid .nav-mid-child h6 {
    margin-top: 2rem;
    font-size: 12px;
    color: #abb5e2;
}

.nav-bottom {
    position: absolute;
    bottom:0;
    left:0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
}

.nav-bottom .nav-bottom-contents {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.5rem;
}

.nav-bottom-contents img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.nav-bottom-contents-text h6, p {
    margin-bottom: 0;
}

.nav-bottom-contents-text h6 {
    margin-top: 0.2rem;
}

.nav-bottom button {
    margin-top: 1rem;
    border-radius: 20px;
}
.side-nav-logo {
    margin-left: 5px;
}


.nav-bar .nav-mid-child {
    overflow-y: scroll;
}

.nav-bar .nav-mid-child h6{
    margin-top: 0;
}

.nav-mid .nav-mid-child ul li{
    list-style: none;
    margin-top:0.75rem;
    margin-bottom:0.75rem;
    font-size: 11px;
}

.nav-mid .nav-mid-child ul li i {
    margin-right: 0.75rem;
}

.nav-mid .nav-mid-child ul li a {
    color: #2a70efcf;
}

.nav-mid .nav-mid-child ul li a:hover {
    color: #1e68ef;
    text-decoration: none;
}

/* Active class for menu */

.sidenav .sub-nav ul li .active-menu {
    border-right: 3px solid;
    border-color: #156de1;
    color: #1e73e2;
    font-weight: bold;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar:horizontal {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2a70efcf; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2a70efcf; 
  }

  .side-nav-top {
    position: absolute;
    top: 0;
    display: flex;
  }

  .side-nav-top .side-nav-logo a {
      padding: 0;
  }

  .side-nav-top .side-nav-logo img {
      margin: 1rem;
      width: auto;
  }

  .sidenav .nav-mid-child {
    top: 115px;
    width: 88%;
    height: 60%;
  }

  .sidenav .nav-mid-child li {
      list-style: none;
      margin-top:0.25rem;
      margin-bottom:0.25rem;
  }

  .sidenav .nav-mid-child li a {
      font-size: 1rem;
      color: #2a70efcf;
  }

  .sidenav .nav-mid-child ul li i {
    margin-right: 0.75rem; 
  }

  .sidenav .nav-mid-child ul li a:hover {
    color: #1e68ef;
    text-decoration: none;
}

.sidenav .nav-mid-child h6{
    margin-top: 0;
}

.sidenav .nav-bottom-contents-text {
    margin: auto 0.2rem;
}

.sidenav .nav-mid-child h5 {
    color:#abb5e2;
    margin-bottom: 2.5rem;
}

.sidenav .nav-mid-child h6 {
    color:#abb5e2;
}

/* Central Dashboard */

.central-dash-top-btn {
    justify-content: space-between;
}

form.example input[type=text] {
    padding: 10px;
    height: 32px;
    font-size: 15px;
    border: 1px solid white;
    width: 100%;
  }


.search .example button {
    background: #ff9400;
    border-radius: 50%;
    position: relative;
    border: 1px solid white;
    left: 195px;
}

.campaign-btn-mobile {
    height: 32px;
}

.campaign-btn-mobile button {
    background-color: #ff9400;
    border-radius: 30%;
    color: white;
    border: 1px solid white;
}
.campaign-btn-mobile button i {
    position: relative;
    left: 4.5px;
    top: 1px;
}


.central-dash-top-btn button .campaign-plus {
    font-size: 15px; 
}

.lead-name-image {
    flex-direction: column;
}
.lead-name-image .lead-profile-img {
    margin: auto 0 1rem;
}

.lead-name-image .lead-profile-img img {
    height: 50px;
    width: 50px;
}

.lead-central-dropdown {
    justify-content: center;
}

.mdl-tabs {
    overflow-x: scroll;
}

.mdl-tabs::-webkit-scrollbar {
    width: 5px;
  }

  /* Mobile Leads table */
  .lead-table .table th,
.lead-table .table td {
    padding: 1rem;
}

.lead-table .accordion .card-header a img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin:0.5rem;
}

.card-margin {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

/* .card-border {
    border-radius: 15px;
} */

.card-margin:hover {
    background-color: #0c5bdf;
    color: #fff;
    cursor: pointer;
}

/* .card-lead-name-margin{
    margin-left: 3rem;
} */

.lead-name {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lead-details-mobile {
    background-color: #6cabec;
}

.lead-no-mobile,
.lead-email-mobile,
.lead-date-mobile,
.lead-status-mobile,
.lead-delete-mobile {
    border: 1px solid white;
    margin: 5px;
    padding: 1rem;
    border-radius: 15px;
    color: white;
    font-size: 12px;

}

.accordion .card-header a img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 0.5rem;
}

.carousel-item .lead-tabs-mobile {
    text-align: center;
}

.carousel-item .lead-tabs-mobile h4 {
    font-weight: bold;
}

.carousel-inner {
    border-radius: 15px;
    border: 2px solid white;
}

.carousel-item {
    background-color:  #b8daf7;
}

.accordion .card {
    margin-left: 2px;
    margin-right: 2px;
}

.accordion .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion .card-header .lead-heading-status {
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
    background-color: #1aaf0c;
    border-radius: 10px;
}

/* .accordion {
    height: 50%;
    overflow-y: scroll;
} */