/* CSS Reset */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Utilities */

html,body{
    height: 100%;
    font-family: 'Maven Pro', sans-serif;
}

a {
    text-decoration: none;
}

.sub-heading {
    font-weight: bold;
}

.main-container, .nav-bar, .central-dash, .right-dash {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Maven Pro', sans-serif;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .main-container {
    margin:0;
}

.nav-bar {
    padding:0;
}

.desk-none {
    display: none;
}

/* Navigation bar */

@media screen and (min-width: 769px)
{
    #mySidenav {display: none;}
    #nav-button {display: none;} 
}

@media screen and (min-width: 769px)
{
    .main-logo-m {display: none;}
    .nav-top .logo-name-t {
        display: none;
    }
}

.nav-top a {
    color: #5d5dea;
    text-decoration: none;
}

.nav-top {
    position: absolute;
    top:0;
    margin: 1.2rem 0.5rem 1.5rem .75rem;
    padding: 0rem 0.5rem 0 0.5rem;
}

.nav-bar .nav-top a img{
   height: 6rem;
}

.nav-bar .nav-mid .nav-mid-child p {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 12px;
    font-weight: bold;
    color:#a8c2f3f5;
}

.nav-bar .nav-mid .nav-mid-child h6 {
    margin-top: 2rem;
    font-size: 12px;
    color: #abb5e2;
}

.nav-bottom {
    position: absolute;
    bottom:0;
    left:0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.nav-bottom {
    display: flex;
    flex-direction: column;
}

.nav-bottom .nav-bottom-contents {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 0.5rem;
}

.nav-bottom-contents img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.nav-bottom-contents-text h6, p {
    margin-bottom: 0;
}

.nav-bottom-contents-text h6 {
    margin-top: 0.2rem;
}

.nav-bottom button {
    margin-top: 1rem;
    border-radius: 20px;
}

.nav-mid {
    position: absolute;
    top: 165px;
    bottom: 227px;
    width: 100%;
    height: 58%;
}


.nav-bar .nav-mid-child {
    position: absolute;
    right: 1rem;
    left: 2rem;
    overflow-y: scroll;
    height: 75%;
    width: 89%;
}

.nav-bar .nav-mid-child h6{
    margin-top: 0;
}

.nav-mid .nav-mid-child ul li{
    list-style: none;
    margin-top:0.75rem;
    margin-bottom:0.75rem;
    font-size: 11px;
}

.nav-mid .nav-mid-child ul li i {
    margin-right: 0.75rem;
}

.nav-mid .nav-mid-child ul li a {
    color: #a8c2f3f5;
    font-size: 12px;
    font-weight: bold;
}

.nav-mid .nav-mid-child ul li a:hover {
    color: #1e68ef;
    text-decoration: none;
}


.sub-nav {
    margin-bottom: 1.5rem;
}

/* Active class for menu */

.active-menu {
    border-right: 3px solid;
    border-color: #075cf7fc;
    
}

.active-menu a {
    color: #075cf7fc;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar:horizontal {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2a70efcf; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2a70efcf; 
  }

/* Central Dashboard */

.central-dash {
    background-color: #ecf0f2;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-left: 2.3rem;
    padding-right:2.3rem;
}

form.example input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 32px;
    font-size: 13px;
    border: 1px solid white;
  }

.central-dash-top-btn {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
}

.central-dash-top-btn button .campaign-plus {
    font-size: 15px; 
    margin-right:10px;
}

.search .example input {
    background: #fff;
    border-radius: 40px;
    height: 3rem;
}



.search .example button {
    background: #ff9400;
    border-radius: 50%;
    position: relative;
    left: 180px;
    bottom: 32px;
    border: 1px solid white;
}

.search .example button i {
    padding: 5px;
    font-size: 20px;
}

.search-btn::placeholder {
    color: #a8c2f3f5;
    font-size: 12px;
    font-weight: bold;
    line-height: 1rem;
}

.lead-name-heading {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    justify-content: space-between;

}

.lead-name-image {
    display: flex;
}

.lead-name-heading .lead-name h4 {
    font-weight: bold;
}

.lead-name-heading .lead-profile-img img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

.lead-name-heading .lead-profile-img {
    margin: auto 0.5rem;
}

.lead-name-heading .more-info i {
    font-size: inherit;
}

.lead-name-heading .more-info {
    margin: 2.5rem 0px 0rem;
}

.lead-central-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}

.lead-central-dropdown .dropdown button {
    border: 0.5px solid;
    border-radius: 50px;
    border-color: #5087ea;
}

.lead-central-dropdown .dropdown button i {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 8px;
}

.lead-central-dropdown .dropdown button .btn-content {
    margin-right:8px;
}

.lead-central-dashboard {
    background: white;
    border-radius: 15px;
}

.lead-dash-tab {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: #a7a3a3;
}

.lead-dash-tab .lead-primary-tab a {
    padding-left: 1rem;
    padding-right:1rem;
}

.lead-dash-tab .lead-primary-tab a:hover {
    text-decoration: none;
}

.lead-dash-tab .lead-secondary-tab button {
    padding-left: 1rem;
    padding-right:1rem;
    background: white;
}

.lead-dash-tab .lead-primary-tab {
    border-bottom:none;
}

.table {
    margin-top: 1rem;
}

/* Table checkbox */

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0px;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark-check {
    position: absolute;
    top: 15px;
    left: 5px;
    height: 22px;
    width: 22px;
    background-color: #fff;
    color: white;
    border-radius: 5px;
    border: 1px solid #a8c2f3f5;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark-check {
    background-color: #2472f6e6;
    color:#fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark-check {
    background-color: #2472f6e6;
    color:#fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark-check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark-check:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark-check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* table checkbox ends */

table td img {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    margin:0.5rem;
}

.table tbody tr td .custom-checkbox {
    padding-left: 2rem;
}

.table tbody tr th,
.table tbody tr td {
padding: 0;
vertical-align: middle;
border-top: none;
text-align: center;
padding-left: 0.5rem;
}

/* .lead-table .table {
    color: #75a2f3;
} */

.table tbody tr th input {
    width: 15px;
    height: 15px;

}

table tr .radius-border {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

table tr th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 1rem;
}

table tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

table tr:hover:first-child {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}   

table tr:hover:nth-child(2) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}

table tr:hover:nth-child(3) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}

table tr:hover:nth-child(4) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}
table tr:hover:nth-child(5) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}
table tr:hover:nth-child(6) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}
table tr:hover:nth-child(7) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}
table tr:hover:nth-child(8) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}
table tr:hover:nth-child(9) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}
table tr:hover:nth-child(10) {
    background-color: #2472f6e6;
    color: #fff;
    cursor: pointer;
}


table tr {
    padding:0.25rem;
}


table .lead-history i {
    margin: 0 5px;
}

.table tr td .dropdown button {
    border: 0.5px solid;
    border-radius: 50px;
    border-color: #a7a3a3;
    background: white;
}

.lead-central-pagination{
    margin: 3rem 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
}

.lead-central-pagination .table-content-indicator p{
    margin: 0.5rem;
}

.lead-central-pagination .page-indicator {
    margin-right:0.5rem;
}

.lead-central-pagination .page-indicator ul li{
    margin-left: 5px;
    margin-right: 5px;
}

.lead-central-pagination .page-indicator ul li a:hover,
.lead-central-pagination .page-indicator ul li a:focus {
    background: #061d50; color: white;
}


/* .page-list {
    background: blue;
    color: white;
    border-radius: 25px;
} */



/* Statistics */
.right-dash {
    overflow-y: scroll;
    padding-left: 2rem;
    padding-right: 2rem;
}

.campaign-heading {
    border-bottom: 1.5px solid #abb5e2;
}

.campaign-heading h4 {
    font-weight: bold;
}

.lead-info {
    margin-top: 1.5rem;
}

.lead-info .lead-name-details {
    display: flex;
}

.lead-name-details .lead-image {
    flex: 2;
}

.lead-name-details .lead-image img {
    width: 85%;
    border-radius: 50%;
}

.lead-name-details .lead-name {
    flex: 4;
    margin-left: 1rem;
}

.lead-name-details .lead-name h5 {
    font-weight: bold;
}

.lead-name-details .new-btn {
    flex:1;
}

.lead-name-details .new-btn button {
    border-radius: 15px;
    height: 1.25rem;
}

.lead-name-details .new-btn button span {
    padding: 0 6px;
    font-size: 12px;
    position: relative;
    top: -8.5px;
}

.lead-contact-details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #abb5e2;
}

.lead-contact-details .lead-phone {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lead-contact-details .lead-email {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.lead-contact-details .lead-phone span,
.lead-contact-details .lead-email span {
    font-size: 16px;
    font-weight: bold;
}

.lead-contact-details .lead-phone span button,
.lead-contact-details .lead-email span button {
    border: none;
    border-radius: 50%;
    background: #ff9400;
}

.lead-contact-details .lead-phone span button i,
.lead-contact-details .lead-email span button i {
    font-size: 14px;
    padding: 10px;
    color: white;
}

.interested-in h5,
.time-to-call h5 {
    color: #abb5e2;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Radio buttons */

.custom-radio {
    display: flex;
}

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 2px;
    left: 5px;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark:after {
        top: 2px;
      left: 2px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #ff9400;
  }

  .buying-radio {
    margin-right: 2rem;
}


  }

.interested-in label{
    margin: 0;
    font-weight: bold;
}

.time-to-call .date,
.time-to-call .time {
    background-color: #ecf0f2;
    border-radius: 15px;
}

.time-to-call .date-time {
    display: flex;
    justify-content: space-between;
}

.time-to-call .date-time .date {
    flex: 2;
    margin-right: 0.5rem;
}

.time-to-call .date-time .date h6 {
    text-align: center;
}

.time-to-call .date-time .time {
    flex: 1;
    text-align: center;
}

.time-capture .time-stamp {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.time .time-slot {
    display: flex;
    justify-content: space-around;
    margin-top:1.5rem;
}

.time .time-slot button{
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
    border: none;
}

.time .time-slot button:hover {
    color: #fff;
    background-color: #ff9400;
}

.note label h5 {
    color: #abb5e2;
    font-weight: 600;
    font-size: 1.2rem;
}

.note-end {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.note-end .dropdown button {
    border: 0.5px solid;
    border-radius: 50px;
    border-color: white;
    background: #ff9400;
}

.note-end .status h5 {
    color: #abb5e2;
    font-weight: 600;
    font-size: 1.2rem; 
}

.lead-submit {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.lead-submit button {
    border-radius: 20px;
}

.custom-radio {
    display: flex;
}

